@model IEnumerable<InvoiceApp.Models.MsPayment>

<h2>MsCourier List</h2>
<table class="table">
    <thead>
        <tr>
            <th>PaymentID</th>
            <th>PaymentName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PaymentID</td>
                <td>@item.PaymentName</td>
            </tr>
        }
    </tbody>
</table>
